In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [8]:
df = pd.read_csv("keystrokes.csv")

In [3]:
df.head()

     event key                        time  duration
0    press   h  2024-08-01 12:04:40.292659       NaN
1  release   h  2024-08-01 12:04:40.355568  0.062909
2    press   e  2024-08-01 12:04:40.433569       NaN
3  release   e  2024-08-01 12:04:40.574926  0.141357
4    press   l  2024-08-01 12:04:40.876104       NaN

In [5]:
df.describe()

         duration
count  707.000000
mean     0.144497
std      0.076795
min      0.030579
25%      0.093068
50%      0.127964
75%      0.188593
max      0.775305

In [9]:
fig = plt.figure()
plt.scatter(df['duration'], c="red")
plt.xlim(0,2000)
plt.ylim(0,2000)

plt.show

TypeError: scatter() missing 1 required positional argument: 'y'